@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
input,textarea,select{
	outline:none;
}
textarea{
	resize:none;
}
img{
	border:none;
	outline:none;
}
.clear{
	zoom:1;/*IE浏览器清浮动*/
}
.clear:after{
	content:'';/*添加一个空内容*/
	display:block;/*转块*/
	clear:both;/*清浮动*/
}
body{
	font-family:"Montserrat-Regular",Arial,"微软雅黑", Helvetica, sans-serif;
}
